<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Taegu's blog</title>
</head>
<body>
    <div>
        <h1><a href="">Taegu's Blog</a></h1>
    </div>

    <div>
        <p>published: 12.20.2020, 23:00</p>
        <h2><a href="">My first post</a></h2>
        <p>abracadabra abaracadabra abracadabra</p>
    </div>

    <div>
        <p>published: 12.20.2020, 23:00</p>
        <h2><a href="">My second post</a></h2>
        <p>춥고 배고프다 힘들다 하하하하ㅏ하하짜증낭람뉭라ㅜㅁ;ㅣㅏㅜ리;바ㅜ디ㅏㄹㄴ</p>
    </div>
</body>
</html>